{% load static %}

<div class="comments-wrap">
    <h3 class="comments-wrap-title">02 دیدگاه</h3>
    <div class="latest-comments">
        <ul class="list-wrap">
            <li>
                <div class="comments-box">
                    <div class="comments-avatar">
                        <img src="{% static 'assets/img/blog/comment01.png' %}" alt="img">
                    </div>
                    <div class="comments-text">
                        <div class="avatar-name">
                            <h6 class="name">جسیکا رز</h6>
                            <span class="date">27 مهر 1403</span>
                        </div>
                        <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                            جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت.</p>
                        <a href="#" class="reply-btn">پاسخ</a>
                    </div>
                </div>
                <ul class="children">
                    <li>
                        <div class="comments-box">
                            <div class="comments-avatar">
                                <img src="{% static 'assets/img/blog/comment02.png' %}"
                                    alt="img">
                            </div>
                            <div class="comments-text">
                                <div class="avatar-name">
                                    <h6 class="name">پارکر ویلی</h6>
                                    <span class="date">28 مهر 1403</span>
                                </div>
                                <p>اعتماد شما را به شدت مشتری ما مجرای واقعی را انتخاب می
                                    کند زیرا می دانیم که ما بهترین منطقه در انتظار واقعاً
                                    هستیم.</p>
                                <a href="#" class="reply-btn">پاسخ</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% include 'comment/comments-create.html' %}