{% load static %}
<!doctype html>
<html class="no-js" lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>اپکسا - قالب شرکتی HTML</title>
    <meta name="description" content="Apexa - Business Consulting HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png'  %}">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-css/iransans.css' %}">
</head>
<body>
    <!--Preloader-->
    <div id="preloader">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class="loader-icon"><img src="{% static 'assets/img/logo/preloader.png'  %}" alt="Preloader"></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->
    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->
    <!-- header-area -->
    <header>
        <div id="header-fixed-height"></div>
        <div class="tg-header__top">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tg-header__top-info left-side list-wrap">
                            <li><i class="flaticon-phone-call"></i><a href="tel:0123456789">+123 9898 500</a></li>
                            <li><i class="flaticon-pin"></i>شیراز - بلوار چمران کوچه 12 </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="tg-header__top-right list-wrap">
                            <li><i class="flaticon-envelope"></i><a href="mailto:info@test.com">info@test.com</a></li>
                            <li><i class="flaticon-time"></i>شنبه - جمعه: 10:صبح- 09:00 شب</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% block body %}

{% endblock %}
<section class="call-back-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="call-back-content">
                    <div class="section-title white-title mb-10">
                        <h2 class="title">درخواست مشاوره</h2>
                    </div>
                    <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری.</p>
                    <div class="shape">
                        <img src="{% static 'assets/img/images/call_back_shape.png' %}" alt="" data-aos="fade-right" data-aos-delay="400">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="call-back-form">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-grp">
                                    <input type="text" placeholder="نام*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-grp">
                                    <input type="email" placeholder="ایمیل *">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-grp">
                                    <input type="number" placeholder="شماره تماس*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn">ارسال پیام</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- call-back-area-end -->
</main>
<!-- main-area-end -->
<!-- footer-area -->
<footer>
    <div class="footer-area">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <div class="fw-logo mb-25">
                                <a href=''><img src="{% static 'assets/img/logo/logo.png'  %}" alt=""></a>
                            </div>
                            <div class="footer-content">
                                <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.</p>
                                <div class="footer-social">
                                    <ul class="list-wrap">
                                        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">اطلاعات</h4>
                            <div class="footer-info-list">
                                <ul class="list-wrap">
                                    <li>
                                        <div class="icon">
                                            <i class="flaticon-phone-call"></i>
                                        </div>
                                        <div class="content">
                                            <a href="tel:0123456789">+123 888 9999</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="flaticon-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <a href="mailto:info@test.com">info@test.com</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="flaticon-pin"></i>
                                        </div>
                                        <div class="content">
                                            <p>شیراز بلوار چمران کوچه 12</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">دسترسی سریع</h4>
                            <div class="footer-link-list">
                                <ul class="list-wrap">
                                    <li><a href="{% url 'home:index' %}">خانه</a></li>
                                    <li><a href="{% url 'home:about' %}">درباره ما</a></li>
                                    
                                    <li><a href="{% url 'blog:blog' %}">وبلاگ</a></li>
                                    <li><a href="{% url 'home:contact' %}">تماس باما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">پست های اینستاگرام</h4>
                            <div class="footer-instagram">
                                <ul class="list-wrap">
                                    <li><a href="javascript:void(0)"><img src="{% static 'assets/img/images/footer_insta01.jpg' %}" alt=""></a></li>
                                    <li><a href="javascript:void(0)"><img src="{% static 'assets/img/images/footer_insta02.jpg' %}" alt=""></a></li>
                                    <li><a href="javascript:void(0)"><img src="{% static 'assets/img/images/footer_insta03.jpg' %}" alt=""></a></li>
                                    <li><a href="javascript:void(0)"><img src="{% static 'assets/img/images/footer_insta04.jpg' %}" alt=""></a></li>
                                    <li><a href="javascript:void(0)"><img src="{% static 'assets/img/images/footer_insta05.jpg' %}" alt=""></a></li>
                                    <li><a href="javascript:void(0)"><img src="{% static 'assets/img/images/footer_insta06.jpg' %}" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 order-0 order-lg-2">
                        <div class="footer-newsletter">
                            <h4 class="title">عضویت در خبرنامه</h4>
                            <form action="#">
                                <input type="text" placeholder="ایمیل خود را وارد کنید ...">
                                <button class="btn btn-two" type="submit">عضویت</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="copyright-text">
                            <p>بومی سازی شده توسط امین احمدی : فارس کد</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-shape">
            <img src="{% static 'assets/img/images/footer_shape01.png'  %}" alt="" data-aos="fade-right" data-aos-delay="400">
            <img src="{% static 'assets/img/images/footer_shape02.png'  %}" alt="" data-aos="fade-left" data-aos-delay="400">
            <img src="{% static 'assets/img/images/footer_shape03.png'  %}" alt="" data-parallax='{"x" : 100 , "y" : -100 }'>
        </div>
    </div>
</footer>
<!-- footer-area-end -->
<!-- JS here -->
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.odometer.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/gsap.js' %}"></script>
<script src="{% static 'assets/js/ScrollTrigger.js' %}"></script>
<script src="{% static 'assets/js/SplitText.js' %}"></script>
<script src="{% static 'assets/js/gsap-animation.js' %}"></script>
<script src="{% static 'assets/js/jquery.parallaxScroll.min.js' %}"></script>
<script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
<script src="{% static 'assets/js/ajax-form.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/aos.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script>
    const text = document.querySelector('.circle');
    text.innerHTML = text.textContent.replace(/\S/g, "<span>$&</span>");
    const element = document.querySelectorAll('.circle span');
    for (let i = 0; i < element.length; i++) {
        element[i].style.transform = "rotate(" + i * 17 + "deg)"
    }
</script>
</body>
</html>