{% load static  %}

<div class="sidebar__widget">
    <h4 class="sidebar__widget-title">دسته ها</h4>
    <div class="sidebar__cat-list">
        <ul class="list-wrap">
            <li>
                <a href="#"><i class="flaticon-arrow-button"></i>راه حل تجاری (15)</a>
            </li>
            <li>
                <a href="#"><i class="flaticon-arrow-button"></i>برنامه ریزی بازاریابی
                    (11)</a>
            </li>
            <li>
                <a href="#"><i class="flaticon-arrow-button"></i>مشاوره سئو (05)</a>
            </li>
            <li>
                <a href="#"><i class="flaticon-arrow-button"></i>مدیریت پروژه (07)</a>
            </li>
            <li>
                <a href="#"><i class="flaticon-arrow-button"></i>توسعه تجاری (04)</a>
            </li>
            <li>
                <a href="#"><i class="flaticon-arrow-button"></i>برنامه ی بازاریابی (22)</a>
            </li>
        </ul>
    </div>
</div>